/* line 3, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
input-element, .CitySearch input, .NumberOfEvents input {
  background-color: #F4F7E9;
  border: 1px #030027 solid;
  padding: 1em;
  height: 3rem;
  width: 80%;
  border-radius: 4px;
  font-size: clamp(1rem, 1.5vw, 5rem);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

@media only screen and (max-width: 1440px) and (orientation: landscape) {
  /* line 3, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
  input-element, .CitySearch input, .NumberOfEvents input {
    min-width: 1em;
    padding: .2em;
  }
}

/* line 24, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
input-element:focus, .CitySearch input:focus, .NumberOfEvents input:focus {
  background-color: #eaf8bf;
  border: 1px #F4F7E9 solid;
}

/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_button.scss */
button-element, .CitySearch__btn, .event-link, .suggestions button {
  font-family: 'houschka-rounded';
  border-radius: 8px;
  padding: .4em;
  font-size: clamp(1.4rem, 0.9vw, 5rem);
  background-color: #030027;
  color: #F4F7E9;
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0 20px 30px -10px #26394D;
}

/* line 7, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_navbar.scss */
.navbar {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em 2.5em;
}

/* line 15, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_navbar.scss */
.navbar a, .navbar p {
  font-size: clamp(2rem, 2vw, 4rem);
}

/* line 18, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_navbar.scss */
.navbar a {
  text-decoration: none;
}

/* line 21, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_navbar.scss */
.navbar p {
  color: #eaf8bf;
}

/* line 24, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_navbar.scss */
.navbar__logo-highlight {
  color: #F4F7E9;
}

/* line 3, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_app.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 9, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_app.scss */
body {
  background-color: #2655a1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}

/* line 18, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_app.scss */
input {
  font-family: 'sans-serif';
  font-style: italic;
}

/* line 22, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_app.scss */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* line 27, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_app.scss */
.App {
  overflow-x: hidden;
}

@media only screen and (max-width: 2881px) and (orientation: landscape) {
  /* line 27, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_app.scss */
  .App {
    display: block;
    height: auto;
  }
}

/* line 36, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_app.scss */
.App__background {
  left: 25vw;
  top: 50%;
  opacity: .75;
  z-index: -1;
  max-height: 100%;
  position: fixed;
  transform: scale(3.5);
  -webkit-transform: scale(3.5);
  -moz-transform: scale(3.5);
  -ms-transform: scale(3.5);
  -o-transform: scale(3.5);
}

/* line 56, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_app.scss */
.App .main__container {
  margin: 5em 0;
  position: relative;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1440px) and (orientation: landscape) {
  /* line 56, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_app.scss */
  .App .main__container {
    height: auto;
    flex-direction: column;
  }
}

/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_container.scss */
.container__data {
  margin: 0 0 0 auto;
}

@media only screen and (max-width: 1440px) and (orientation: landscape) {
  /* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_container.scss */
  .container__data {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
  }
}

/* line 11, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_container.scss */
.container__input {
  display: block;
  text-align: left;
}

/* line 17, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_container.scss */
.container__input-inner {
  display: block;
}

@media only screen and (max-width: 2881px) and (orientation: landscape) {
  /* line 17, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_container.scss */
  .container__input-inner {
    padding: 2em;
  }
}

@media only screen and (max-width: 1023px) and (orientation: landscape) {
  /* line 25, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_container.scss */
  .container__graph-circle {
    margin-bottom: -5em;
  }
}

@media only screen and (max-width: 640px) and (orientation: landscape) {
  /* line 25, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_container.scss */
  .container__graph-circle {
    margin-bottom: -3em;
  }
}

/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_alert.scss */
.Alert p {
  font-weight: 800;
}

/* line 13, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_alert.scss */
.Alert__online-active {
  top: 1.3em;
  left: 45%;
  display: inline;
  position: absolute;
  font-size: 2rem;
  background: #eaf8bf;
  padding: .5em;
  color: #20488A;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* line 32, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_alert.scss */
.Alert__online-hidden {
  top: -3em;
}

/* line 38, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_alert.scss */
.Alert__numberofevents {
  position: relative;
  top: -.2em;
  min-height: 1.5em;
}

/* line 47, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_alert.scss */
.Alert__citysearch-info {
  min-height: 2.2rem;
  z-index: -1;
  position: absolute;
  margin: 1em 0;
  max-width: 100%;
  min-height: 3em;
  display: inline;
}

@keyframes slidein {
  from {
    top: -2em;
  }
  to {
    top: 0;
  }
}

/* line 3, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
input-element, .CitySearch input, .NumberOfEvents input {
  background-color: #F4F7E9;
  border: 1px #030027 solid;
  padding: 1em;
  height: 3rem;
  width: 80%;
  border-radius: 4px;
  font-size: clamp(1rem, 1.5vw, 5rem);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

@media only screen and (max-width: 1440px) and (orientation: landscape) {
  /* line 3, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
  input-element, .CitySearch input, .NumberOfEvents input {
    min-width: 1em;
    padding: .2em;
  }
}

/* line 24, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
input-element:focus, .CitySearch input:focus, .NumberOfEvents input:focus {
  background-color: #eaf8bf;
  border: 1px #F4F7E9 solid;
}

/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_button.scss */
button-element, .CitySearch__btn, .event-link, .suggestions button {
  font-family: 'houschka-rounded';
  border-radius: 8px;
  padding: .4em;
  font-size: clamp(1.4rem, 0.9vw, 5rem);
  background-color: #030027;
  color: #F4F7E9;
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0 20px 30px -10px #26394D;
}

/* line 6, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_citySearch.scss */
.CitySearch {
  padding: 2em 2em 0 2em;
  color: #eaf8bf;
}

/* line 9, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_citySearch.scss */
.CitySearch__heading {
  display: flex;
  align-items: center;
}

/* line 13, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_citySearch.scss */
.CitySearch__err {
  color: green;
  font-size: 3rem;
  z-index: -1;
  position: absolute;
  margin: 1em 0;
  min-height: 100%;
  top: 7em;
  max-width: 100%;
}

/* line 23, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_citySearch.scss */
.CitySearch__label {
  font-size: 3.6rem;
  display: block;
  color: #F4F7E9;
  margin-bottom: .4em;
  margin-right: 2em;
}

@media only screen and (max-width: 2881px) and (orientation: landscape) {
  /* line 23, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_citySearch.scss */
  .CitySearch__label {
    font-size: 1.6rem;
  }
}

/* line 34, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_citySearch.scss */
.CitySearch__btn {
  margin: 1em 0 .5em 0;
}

@media only screen and (max-width: 2881px) and (orientation: landscape) {
  /* line 39, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_citySearch.scss */
  .CitySearch input {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1440px) and (orientation: landscape) {
  /* line 6, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_citySearch.scss */
  .CitySearch {
    padding: 0;
  }
}

/* line 3, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
input-element, .CitySearch input, .NumberOfEvents input {
  background-color: #F4F7E9;
  border: 1px #030027 solid;
  padding: 1em;
  height: 3rem;
  width: 80%;
  border-radius: 4px;
  font-size: clamp(1rem, 1.5vw, 5rem);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

@media only screen and (max-width: 1440px) and (orientation: landscape) {
  /* line 3, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
  input-element, .CitySearch input, .NumberOfEvents input {
    min-width: 1em;
    padding: .2em;
  }
}

/* line 24, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
input-element:focus, .CitySearch input:focus, .NumberOfEvents input:focus {
  background-color: #eaf8bf;
  border: 1px #F4F7E9 solid;
}

/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_button.scss */
button-element, .CitySearch__btn, .event-link, .suggestions button {
  font-family: 'houschka-rounded';
  border-radius: 8px;
  padding: .4em;
  font-size: clamp(1.4rem, 0.9vw, 5rem);
  background-color: #030027;
  color: #F4F7E9;
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0 20px 30px -10px #26394D;
}

/* line 6, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_eventList.scss */
ul.EventList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
  overflow-y: scroll;
  margin: 0 auto;
  max-height: 100vh;
}

@media only screen and (max-width: 2881px) and (orientation: landscape) {
  /* line 6, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_eventList.scss */
  ul.EventList {
    grid-template-columns: .5fr .5fr;
  }
}

@media only screen and (max-width: 1440px) and (orientation: landscape) {
  /* line 6, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_eventList.scss */
  ul.EventList {
    max-height: none;
    overflow-y: visible;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1023px) and (orientation: landscape) {
  /* line 6, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_eventList.scss */
  ul.EventList {
    margin-top: 15em;
  }
}

/* line 28, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_eventList.scss */
ul.EventList li {
  list-style-type: none;
  width: 100%;
}

/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_button.scss */
button-element, .CitySearch__btn, .event-link, .suggestions button {
  font-family: 'houschka-rounded';
  border-radius: 8px;
  padding: .4em;
  font-size: clamp(1.4rem, 0.9vw, 5rem);
  background-color: #030027;
  color: #F4F7E9;
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0 20px 30px -10px #26394D;
}

/* line 6, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_event.scss */
.Event {
  background-color: #eaf8bf;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 1em 4em;
  margin: .8em 0;
  list-style-type: none;
  width: calc(50vw/2);
}

@media only screen and (max-width: 1440px) and (orientation: landscape) {
  /* line 6, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_event.scss */
  .Event {
    width: calc(85vw/2);
  }
}

@media only screen and (max-width: 1023px) and (orientation: landscape) {
  /* line 6, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_event.scss */
  .Event {
    padding: 1em;
  }
}

@media only screen and (max-width: 533px) and (orientation: landscape) {
  /* line 6, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_event.scss */
  .Event {
    padding: .5em;
  }
}

/* line 22, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_event.scss */
.Event-date, .Event-location {
  font-weight: 800;
  font-size: clamp(1rem, 3vw, 4rem);
}

/* line 29, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_event.scss */
.event-icon {
  transform: scale(5);
  -webkit-transform: scale(5);
  -moz-transform: scale(5);
  -ms-transform: scale(5);
  -o-transform: scale(5);
}

@media only screen and (max-width: 2881px) and (orientation: landscape) {
  /* line 29, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_event.scss */
  .event-icon {
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
  }
}

/* line 43, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_event.scss */
.event-details-hide {
  display: none;
}

/* line 48, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_event.scss */
.event-details-show {
  display: block;
  height: 100%;
  max-width: 100%;
}

/* line 55, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_event.scss */
.event-title {
  font-size: clamp(2rem, 5vw, 6rem);
  font-style: italic;
}

/* line 58, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_event.scss */
.event-title-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* line 65, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_event.scss */
.event-description {
  font-size: clamp(1rem, 3vw, 4rem);
}

/* line 70, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_event.scss */
.event-link {
  font-weight: 800;
  padding: .3em;
  text-decoration: none;
  display: inline-block;
  margin: 2em 0;
  overflow: hidden;
  color: rgba(38, 85, 161, 0.75);
  word-wrap: break-word;
  max-width: 100%;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* line 87, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_event.scss */
.event-link:hover {
  color: #eaf8bf;
}

/* line 3, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
input-element, .CitySearch input, .NumberOfEvents input {
  background-color: #F4F7E9;
  border: 1px #030027 solid;
  padding: 1em;
  height: 3rem;
  width: 80%;
  border-radius: 4px;
  font-size: clamp(1rem, 1.5vw, 5rem);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

@media only screen and (max-width: 1440px) and (orientation: landscape) {
  /* line 3, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
  input-element, .CitySearch input, .NumberOfEvents input {
    min-width: 1em;
    padding: .2em;
  }
}

/* line 24, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
input-element:focus, .CitySearch input:focus, .NumberOfEvents input:focus {
  background-color: #eaf8bf;
  border: 1px #F4F7E9 solid;
}

/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_button.scss */
button-element, .CitySearch__btn, .event-link, .suggestions button {
  font-family: 'houschka-rounded';
  border-radius: 8px;
  padding: .4em;
  font-size: clamp(1.4rem, 0.9vw, 5rem);
  background-color: #030027;
  color: #F4F7E9;
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0 20px 30px -10px #26394D;
}

/* line 8, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_numberOfEvents.scss */
.display-event-number {
  font-size: 4rem;
  color: #eaf8bf;
}

@media only screen and (max-width: 2881px) and (orientation: landscape) {
  /* line 8, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_numberOfEvents.scss */
  .display-event-number {
    font-size: 1.6rem;
    margin: 1em 0;
  }
}

/* line 19, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_numberOfEvents.scss */
.NumberOfEvents {
  padding: 6em 1em;
}

/* line 23, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_numberOfEvents.scss */
.NumberOfEvents__label {
  font-size: 3.6rem;
  display: block;
  color: #F4F7E9;
  margin-bottom: .4em;
}

@media only screen and (max-width: 2881px) and (orientation: landscape) {
  /* line 23, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_numberOfEvents.scss */
  .NumberOfEvents__label {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 2881px) and (orientation: landscape) {
  /* line 36, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_numberOfEvents.scss */
  .NumberOfEvents input {
    width: 40%;
  }
}

@media only screen and (max-width: 1440px) and (orientation: landscape) {
  /* line 19, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_numberOfEvents.scss */
  .NumberOfEvents {
    padding: 0;
  }
}

/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_footer.scss */
.footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  min-width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 0;
  min-height: 5vh;
  background: rgba(234, 248, 191, 0.15);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}

/* line 19, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_footer.scss */
.footer__container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/* line 24, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_footer.scss */
.footer__link {
  margin-top: 1em;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 200;
  color: #F4F7E9;
}

/* line 30, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_footer.scss */
.footer__link-citation {
  color: #F4F7E9;
  font-size: .5rem;
  text-decoration: none;
  font-weight: 800;
  margin: 2em auto;
}

/* line 3, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_welcome-screen.scss */
.WelcomeScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
  background-color: #20488A;
}

/* line 10, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_welcome-screen.scss */
.WelcomeScreen__privacy-policy {
  color: #F4F7E9;
  text-decoration: none;
}

/* line 14, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_welcome-screen.scss */
.WelcomeScreen__text {
  position: relative;
  z-index: 20;
  display: grid;
  place-content: center center;
  height: 100%;
  color: #F4F7E9;
}

/* line 21, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_welcome-screen.scss */
.WelcomeScreen__text-container {
  text-align: center;
  max-width: 1080px;
  margin: 0 2em .5em 2em;
}

/* line 26, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_welcome-screen.scss */
.WelcomeScreen__text-headline {
  font-size: 5rem;
  font-weight: 200;
}

/* line 43, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_welcome-screen.scss */
.WelcomeScreen__text-copy {
  font-size: 1.5rem;
  font-weight: 400;
}

/* line 61, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_welcome-screen.scss */
.login-button {
  text-transform: uppercase;
  text-decoration: none;
  border: 4px solid #030027;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
}

/* line 74, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_welcome-screen.scss */
.google-btn {
  width: 184px;
  height: 42px;
  margin: 1rem;
  background-color: #eaf8bf;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 #030027;
}

/* line 82, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_welcome-screen.scss */
.google-btn:hover {
  box-shadow: 0 0 6px #eaf8bf;
}

/* line 86, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_welcome-screen.scss */
.google-btn:active {
  background: #eaf8bf;
}

/* line 89, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_welcome-screen.scss */
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #F4F7E9;
}

/* line 98, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_welcome-screen.scss */
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}

/* line 105, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_welcome-screen.scss */
.btn-text {
  float: right;
  color: #eaf8bf;
  font-size: 14px;
  font-weight: 800;
  padding: .2em;
  letter-spacing: 0.2px;
  background-color: #030027;
  width: 80%;
  height: 100%;
  text-align: center;
}

/* line 1, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_illustration.scss */
.Illustration {
  opacity: .8;
  position: absolute;
  bottom: 10em;
  left: 25%;
  z-index: -1;
  transform: scale(3.2);
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -ms-transform: scale(3.2);
  -o-transform: scale(3.2);
}

@media only screen and (max-width: 2881px) and (orientation: landscape) {
  /* line 1, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_illustration.scss */
  .Illustration {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
  }
}

/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_chart.scss */
.chart {
  display: flex;
  height: 30vh;
}

@media only screen and (max-width: 1440px) and (orientation: landscape) {
  /* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_chart.scss */
  .chart {
    height: 65vh;
    margin: 2.5em 0;
  }
}

@media only screen and (max-width: 1023px) and (orientation: landscape) {
  /* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_chart.scss */
  .chart {
    flex-flow: column;
    min-height: 100vh;
    margin: -5em 0 10em 0;
  }
}

@media only screen and (max-width: 640px) and (orientation: landscape) {
  /* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_chart.scss */
  .chart {
    flex-flow: column;
    min-height: 100vh;
    margin: -5em 0 8em 0;
  }
}

@media only screen and (max-width: 533px) and (orientation: landscape) {
  /* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_chart.scss */
  .chart {
    flex-flow: column;
    min-height: 100vh;
    margin: -3em 0 4em 0;
  }
}

/* line 32, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_chart.scss */
.chart__pie {
  margin: 0 auto;
  align-self: center;
  transform: scale(1.7);
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -ms-transform: scale(1.7);
  -o-transform: scale(1.7);
}

@media only screen and (max-width: 2881px) and (orientation: landscape) {
  /* line 32, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_chart.scss */
  .chart__pie {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}

@media only screen and (max-width: 1440px) and (orientation: landscape) {
  /* line 32, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_chart.scss */
  .chart__pie {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@media only screen and (max-width: 1023px) and (orientation: landscape) {
  /* line 32, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_chart.scss */
  .chart__pie {
    height: 20vh;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
}

/* line 64, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_chart.scss */
.chart__scatter {
  height: 100%;
  font-size: 3rem;
  min-width: 30vw;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}

@media only screen and (max-width: 1440px) and (orientation: landscape) {
  /* line 64, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_chart.scss */
  .chart__scatter {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1440px) and (orientation: landscape) {
  /* line 64, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_chart.scss */
  .chart__scatter {
    font-size: 1rem;
    min-width: 65vw;
    font-size: 2rem;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@media only screen and (max-width: 1023px) and (orientation: landscape) {
  /* line 64, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_chart.scss */
  .chart__scatter {
    font-size: .9rem;
    min-height: 100%;
    min-width: 100vw;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}

@media only screen and (max-width: 640px) and (orientation: landscape) {
  /* line 64, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_chart.scss */
  .chart__scatter {
    min-height: 100vh;
    min-width: 100vw;
    transform: scale(1.125);
    -webkit-transform: scale(1.125);
    -moz-transform: scale(1.125);
    -ms-transform: scale(1.125);
    -o-transform: scale(1.125);
  }
}

/* line 3, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/class/_suggestions.scss */
.suggestions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: stretch;
  max-width: 80%;
  min-height: 5em;
  position: relative;
}

/* line 12, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/class/_suggestions.scss */
.suggestions li {
  flex-wrap: wrap;
  list-style: none;
  max-width: 100%;
  flex-grow: 1;
  color: #F4F7E9;
  font-weight: 800;
  margin: .3em 0;
  font-size: clamp(1rem, 0.5vw, 3rem);
}

/* line 15, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/class/_suggestions.scss */
.suggestions li:nth-child(even) {
  color: #eaf8bf;
}

/* line 18, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/class/_suggestions.scss */
.suggestions li:hover {
  color: #030027;
  cursor: pointer;
}

/* line 29, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/class/_suggestions.scss */
.suggestions button {
  z-index: 200;
  top: -5.5em;
  right: 1.7em;
  margin: 1em 0 1em 0;
}

/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/error/_error-container.scss */
.error-container {
  padding: 2em;
  margin: 0 auto;
  color: #eaf8bf;
}

/* line 6, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/error/_error-container.scss */
.error-container p {
  font-size: 2.5rem;
}

/*# sourceMappingURL=styles.css.map */