/* min-width 1025px, large screens */
/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
input-element, .CitySearch input, .NumberOfEvents input {
  background-color: #F4F7E9;
  border: 1px #030027 solid;
  padding: 1em;
  height: 3rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* line 14, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
input-element:focus, .CitySearch input:focus, .NumberOfEvents input:focus {
  background-color: #EAF8BF;
  border: 1px #F4F7E9 solid;
}

/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_button.scss */
button-element, .CitySearch__btn {
  border-radius: 8px;
  padding: .4em;
  font-size: 1.3rem;
  background-color: #EAF8BF;
  color: #030027;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* line 6, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_navbar.scss */
.navbar {
  padding: 2em 9.1em;
  margin-bottom: 3em;
}

@media screen and (min-width: 481px) and (orientation: portrait) {
  /* line 6, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_navbar.scss */
  .navbar {
    padding: 2em 2.7em;
  }
}

/* min-width 1025px, large screens */
/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
/* line 4, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_app.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 9, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_app.scss */
.App {
  background-color: #20488A;
}

/* line 14, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_app.scss */
.App .navbar p, .App .footer p {
  font-size: 1.6rem;
}

/* line 18, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_app.scss */
.App .navbar {
  color: #EAF8BF;
}

/* line 21, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_app.scss */
.App .footer {
  color: #030027;
}

/* line 26, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_app.scss */
.App .main__container {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 5em 0;
}

/* line 35, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_app.scss */
.App .input__container {
  display: flex;
  width: 50%;
  flex-direction: column;
}

@media only screen and (min-width: 64.063em) {
  /* line 35, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_app.scss */
  .App .input__container {
    display: flex;
    align-items: center;
    min-height: 20vh;
    width: 40vw;
    align-items: normal;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
input-element, .CitySearch input, .NumberOfEvents input {
  background-color: #F4F7E9;
  border: 1px #030027 solid;
  padding: 1em;
  height: 3rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* line 14, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
input-element:focus, .CitySearch input:focus, .NumberOfEvents input:focus {
  background-color: #EAF8BF;
  border: 1px #F4F7E9 solid;
}

/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_button.scss */
button-element, .CitySearch__btn {
  border-radius: 8px;
  padding: .4em;
  font-size: 1.3rem;
  background-color: #EAF8BF;
  color: #030027;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* line 6, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_citySearch.scss */
.CitySearch {
  display: flex;
  justify-content: space-between;
  color: #EAF8BF;
  flex-direction: column;
}

@media only screen and (min-width: 65.063em) {
  /* line 6, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_citySearch.scss */
  .CitySearch {
    flex-direction: row;
  }
}

/* line 15, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_citySearch.scss */
.CitySearch input {
  margin-bottom: 1em;
}

/* line 24, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_citySearch.scss */
.suggestions li {
  list-style: none;
}

/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
input-element, .CitySearch input, .NumberOfEvents input {
  background-color: #F4F7E9;
  border: 1px #030027 solid;
  padding: 1em;
  height: 3rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* line 14, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
input-element:focus, .CitySearch input:focus, .NumberOfEvents input:focus {
  background-color: #EAF8BF;
  border: 1px #F4F7E9 solid;
}

/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_button.scss */
button-element, .CitySearch__btn {
  border-radius: 8px;
  padding: .4em;
  font-size: 1.3rem;
  background-color: #EAF8BF;
  color: #030027;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* line 6, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_eventList.scss */
ul.EventList {
  padding: 0 2em;
  color: #030027;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3em 3em;
  grid-auto-flow: row dense;
  grid-template-areas: ". . ." ". . ." ". . .";
  margin: 1.6em 0;
}

/* line 21, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_eventList.scss */
ul.EventList li {
  border-radius: 7px;
  background-color: #EAF8BF;
  padding: .7em;
  margin: .8em 0;
  list-style-type: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

/* min-width 1025px, large screens */
/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
input-element, .CitySearch input, .NumberOfEvents input {
  background-color: #F4F7E9;
  border: 1px #030027 solid;
  padding: 1em;
  height: 3rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* line 14, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_input.scss */
input-element:focus, .CitySearch input:focus, .NumberOfEvents input:focus {
  background-color: #EAF8BF;
  border: 1px #F4F7E9 solid;
}

/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/elements/_button.scss */
button-element, .CitySearch__btn {
  border-radius: 8px;
  padding: .4em;
  font-size: 1.3rem;
  background-color: #EAF8BF;
  color: #030027;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@media only screen and (min-width: 35.5em) {
  /* line 6, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_numberOfEvents.scss */
  .NumberOfEvents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
  }
}

/* line 12, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_numberOfEvents.scss */
.NumberOfEvents p {
  color: #F4F7E9;
  margin-bottom: .4em;
}

@media only screen and (min-width: 35.5em) {
  /* line 12, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_numberOfEvents.scss */
  .NumberOfEvents p {
    font-size: 1.6rem;
  }
}

/* line 2, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_footer.scss */
.footer {
  background-color: #F4F7E9;
}

/* line 4, ../../../../../Users/brianthomas/CareerFoundry/apps/meet/meet/scss/components/_footer.scss */
.footer__container {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */