@import url("https://use.typekit.net/kjb5ykz.css");
body {
  background-color: rgba(38, 85, 161, 1);
  font-family: 'houschka-rounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight:500;
}
input{
  font-family: 'houschka-rounded';
  font-style: italic;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
